.container {
    text-align: center;
    background: url(../../img/photos/Image.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    font-family: "Josefin Sans", sans-serif;

&__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    line-height: 26px;
    padding-top: 265px;
    padding-bottom: 15px;
}

&__text {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 6.82px;
    line-height: 26px;
    padding-bottom: 50px;
}

&__form {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    width: 650px;
    margin: 0 auto;
}

&__input {
    flex-grow: 6;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    font-weight: 400;
    border: none;
}

&__btn {
    font-family: 'Aleo';
    flex-grow: 1;
    height: 60px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    background-color: #5474fd;
    color: #ffffff;
    cursor: pointer;
}

&__btn:hover {
    color: red;
    background-color: yellow;
}

&__scroll {
    width: 150px;
    margin: 0 auto;
    padding-bottom: 135px;
}

&__link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
}

&__link:hover {
    color: red;
}
}