.container {
    text-align: center;
    background: url(../../img/photos/Image.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    &__title {
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        line-height: 26px;
        padding-top: 265px;
        padding-bottom: 15px;
    }
    &__text {
        font-size: 22px;
        letter-spacing: 6.82px;
        line-height: 26px;
        padding-bottom: 50px;
    }
    &__form {
        @include flex;
        justify-content: center;
        padding-bottom: 120px;
        width: 650px;
        margin: 0 auto;
    }
    &__input {
        flex-grow: 6;
        text-align: center;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 2.8px;
        border: none;
    }
    &__btn {
        @include aleo;
        flex-grow: 1;
        height: 60px;
        font-size: 14px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        border: 2px solid #ffffff;
        background-color: #5474fd;
        cursor: pointer;
    }
    &__btn:hover {
        color: red;
        background-color: yellow;
    }
    &__scroll {
        width: 150px;
        margin: 0 auto;
        padding-bottom: 135px;
    }
    &__link {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 2.8px;
    }
    &__link:hover {
        color: red;
    }
}