@font-face{

    font-family: 'Aleo';
    
    src: url('../../Fonts/Aleo/WebfontKit/Regular/aleo-regular-webfont.eot');
    
    src: url('../../Fonts/Aleo/WebfontKit/Regular/aleo-regular-webfont.eot') format('eot'),
    
    url('../../Fonts/Aleo/WebfontKit/Regular/aleo-regular-webfont.woff') format('woff'),
    
    url('../../Fonts/Aleo/WebfontKit/Regular/aleo-regular-webfont.ttf') format('truetype'),
    
    url('../../Fonts/Aleo/WebfontKit/Regular/aleo-regular-webfont.svg') format('svg');
    
    font-weight: normal;
    
    font-style: normal;
    
    }