.footer{
    background-color: #232323;
    padding-top: 120px;
    padding-bottom: 54px;
    text-align: center;
    font-family: "Josefin Sans",sans-serif;
    color: #ffffff;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 1.6px;
&__title{
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 3.36px;
padding-bottom: 15px;
}
&__text{

padding-bottom: 30px;
}
&__link{
    text-decoration: none;

color: #e8e8e8;
}
&__link--facebook:hover{
    color: #4267b2; 
}
&__link--twitter:hover{
    color: #1da1f2;
}
&__link--linkedin:hover{
   color:  #0274b3 
}
&__link--youtube:hover{
    color: #ff0000;
}
&__link--pinterest:hover{
    color: rgb(189, 8, 28);
}
}