.main {
    background: url(../../img/photos/castle.jpg) no-repeat center center;
    background-size: cover;
    @include flex;
    @include scrmain;
    justify-content: space-between;
    align-items: center;
    padding: 120px 330px;
    &__box {
        @include flex;
        align-items: center;
    }
    &__expl {
        @include flex;
        flex-direction: column;
        padding-right: 100px;
        &--box {
            flex-basis: 65%;
        }
        &--spainhouse {
            width: 40%;
            background-color: #232323;
            opacity: 0.9;
            padding: 50px 30px;
        }
        &--deep {
            @include flex;
            flex-direction: row;
            width: 80%;
            margin: 0 auto;
            padding: 0;
        }
    }
    &__title {
        @include aleo;
        font-size: 36px;
        padding-bottom: 62px;
        &--small {
            @include josetitle;
            font-size: 20px;
            letter-spacing: 1.5px;
            padding-bottom: 30px;
        }
        &--big {
            @include josetitle;
            font-size: 20px;
            line-height: 10px;
            text-transform: uppercase;
            padding-bottom: 29px;
        }
        &--sam {
            @include josetitle;
            font-size: 20px;
            line-height: 10px;
            text-transform: uppercase;
            padding-bottom: 32px;
        }
    }
    &__text {
        @include josetext;
        font-size: 16px;
        letter-spacing: 1.6px;
        padding-bottom: 48px;
        &--house {
            line-height: 19px;
        }
        &--sam {
            line-height: 17px;
            padding-bottom: 0;
        }
    }
    &__btn {
        width: 225px;
        height: 60px;
        @include aleo;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        background-color: #5474fd;
        border: none;
        &:hover {
            color: #345995;
            background-color: #FB4D3D;
        }
    }
    &__image {
        flex-basis: 50%;
    }
    &__info {
        background-color: #333333;
        padding: 50px 54px 48px 60px;
    }
    &__photos {
        @include flex;
    }
}